/* Per l'altezza fissa della finestra che ospita i LOG' */
.fixed-panel {
      min-height: 600;
      max-height: 600;
      overflow-y: scroll;
}

.LogGrid .ui-grid-header{
	height: 50px
}

.LogGrid {
    width: 800px;
    height: 600px;
  }
  

/* This is to avoid the "navbar-fixed-top" covering other areas... */
body { padding-top: 60px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}